* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Cabin';
    color: '#f7f7f7';
}

.max-width {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
