* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Cabin';
    color: '#f7f7f7';
}

.logo {
    font-family: 'Pacifico' !important;
    color: #333333 !important;
    transition: all 200ms auto;
}

.logo:hover {
    color: #666666;
}

.nav-link {
    text-align: right;
    text-decoration: none;
    color: #333333 !important;
    margin: 0 15px;
    font-size: 14px;
}

.nav-link:visited {
    color: #333333;
}

.navbar-toggler {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar-toggler-icon {
    padding-top: 5px;
    color: black;
}
/*
.max-width {
    max-width: 800px;
    margin: 30px auto;
    position: relative;
}

input,
label,
select,
button,
textarea {
    border: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    font-size: 13px;
}

input:focus {
    outline: 0;
} */
