nav {
    width: 100vw;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

nav a {
    text-decoration: none;
    color: #333333;
    margin: 0 15px;
    font-size: 14px;
}

.nav-left a {
    font-family: 'Pacifico';
    font-size: 18px;
}
